/* styles.css */
h2,
p {
    color: rgba(8, 8, 8, 1);
}

.fondo-principal {
    background-image: url('../assets/fondo2.png');
    /* Reemplaza 'nombre-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */

    background-size: cover;

    /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center center;

    padding: 20px;
    /* Añade relleno para que el contenido no esté pegado al borde del fondo */
    border-radius: 5px;
    /* Opcional: Agrega esquinas redondeadas */
    height: 100%;
    width: 100%;
}



.fondo-ingreso {
    background-image: url('../assets/ingreso.jpg');
    /* Reemplaza 'nombre-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover;
    /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center center;
    /* Centra la imagen en el contenedor */
    color: rgb(29, 27, 27);
    /* Ajusta el color del texto para que sea legible en la imagen de fondo */

    /* Puedes cambiar este color al que prefieras */
    padding: 20px;
    /* Añade relleno para que el contenido no esté pegado al borde del fondo */
    border-radius: 5px;
    /* Opcional: Agrega esquinas redondeadas */
    height: 100%;
    width: 100%;
}

.fondo-gastos {
    background-image: url('../assets/gasto.jpg');
    /* Reemplaza 'nombre-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover;
    /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center center;
    /* Centra la imagen en el contenedor */
    color: white;
    /* Ajusta el color del texto para que sea legible en la imagen de fondo */

    /* Puedes cambiar este color al que prefieras */
    padding: 20px;
    /* Añade relleno para que el contenido no esté pegado al borde del fondo */
    border-radius: 5px;
    /* Opcional: Agrega esquinas redondeadas */
    height: 100%;
    width: 100%;
}

.formulario {
    color: rgb(254, 242, 76);
    size: 3rem;
}

.titulo-ingreso {
    font-size: 24px;
    /* Tamaño del texto */
    font-weight: bold;
    /* Peso del texto (negrita) */
    text-transform: uppercase;
    /* Convertir el texto a mayúsculas */
    text-align: center;
    color: #2bff00;
    /* Color del texto, puedes ajustarlo según tus preferencias */
    margin-bottom: 3px;
    /* Margen inferior para separar del contenido siguiente */
}

.titulo-gasto {
    font-size: 24px;
    /* Tamaño del texto */
    font-weight: bold;
    /* Peso del texto (negrita) */
    text-transform: uppercase;
    /* Convertir el texto a mayúsculas */
    text-align: center;
    color: #0d0d0d;
    /* Color del texto, puedes ajustarlo según tus preferencias */
    margin-bottom: 3px;
    /* Margen inferior para separar del contenido siguiente */
}

.formulario-gasto {
    color: rgb(13, 13, 13);
    size: 3rem;
}

.custom-h4 {
    color: rgba(0, 0, 0, 0.97);
    font-weight: 800;
}


input.input-gasto {
    background-color: aqua;
    color: aqua;
}